# PostgreSQL Container
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_strong_password 
  

# Backend Container
DB_HOST_DOCKER=your_postgres_container_name_or_ip
DB_PORT=your_postgres_port
DB_USER=your_username
DB_PASSWORD=your_postgres_password     
DB_NAME=your_database_name
DB_DIALECT=your_database_dialect   
NODE_ENV=your_environment
BACKEND_PORT=your_backend_port

# Frontend (optional)
FRONTEND_PORT=your_frontend_port