# For development only -- not use din the Docker environment
# Server Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=company_incorporation_dev
DB_USER=postgres
DB_PASSWORD=postgres       # your local postgres password
DB_DIALECT=postgres

 